@use 'src/app/_styles/utils/mixins' as mixins;

.section {
  transition: height 1s ease-in-out;
  overflow-y: hidden;
  width: 100vw;
  margin-left: -50vw;
  left: 50%;
}

.separator {
  @include mixins.section-separator;
}
