$green:#50FA7B;
$dark-grayish-blue: #282A36;
$grayish-white: #F8F8F2;
$gray: #44475A;

$background:  $dark-grayish-blue;
$background-2:  $gray;

$font-color:  $grayish-white;
$font-color-for-lite-background: $dark-grayish-blue;
$interactive-element-color: $green;