@use "sass:color";

// dark mode colors
$green: #50fa7b;
$dark-grayish-blue: #282a36;
$grayish-white: #f8f8f2;
$gray: #44475a;
$red: #FF5555;

// light mode colors
$black: #333333;
$white: #fffff2;
$blue: #0056b3;
$red: #d90202;


//  Dark mode
$font-color-dark: $grayish-white;
$interactive-element-color-dark: $green;
$background-color-dark: $dark-grayish-blue;
$error-color-dark: $red;
$form-background-color-dark: $gray;
$navbar-background-color-dark: color.adjust($background-color-dark, $lightness: -3%);
$card-background-color-dark: $gray;

//  Light mode
$font-color-light: $black;
$interactive-element-color-light: $blue;
$background-color-light: $grayish-white;
$error-color-light: $red;
$form-background-color-light: $white;
$navbar-background-color-light: color.adjust($background-color-light, $lightness: -3%);
$card-background-color-light: $white;
