@use 'src/app/_styles/utils/mixins' as mixins;

.link {
    @include mixins.interactive-element;
}

.no-border {
    color: var(--interactive-element-color);
    box-shadow: none;
    padding: 0;
    border-radius: 0;

    &:before {
        display: none;
    }

    &:hover,
    &:focus,
    &:active {
        box-shadow: none;
    }
}