@use 'src/app/_styles/utils/mixins' as mixins;

.link {
    @include mixins.interactive-element;
}

.size-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}

.no-border {
    color: var(--interactive-element-color);
    box-shadow: none;
    padding: 0;
    border-radius: 0;

    &:before {
        display: none;
    }

    &:hover,
    &:focus,
    &:active {
        box-shadow: none;
    }
}