.expandable {
  overflow: hidden;
}

.details {
  max-height: 0;
  opacity: 0;
  transition: max-height 1s ease, opacity 1s ease;
  overflow: hidden;
}

.expanded .details {
  max-height: 1000px;
  opacity: 1;
}

.link {
  color: var(--interactive-element-color);
}