@use 'src/app/_styles/utils/colors';
@use 'src/app/_styles/utils/fonts' as fonts;

@import "tailwindcss";

/* Default to dark theme */
:root {
  --font-color: var(--font-color-dark);
  --interactive-element-color: var(--interactive-element-color-dark);
  --background-color: var(--background-color-dark);
  --form-error-color: var(--error-color-dark);
  --form-background-color: var(--form-background-color-dark);
  --navbar-background-color: var(--navbar-background-color-dark);
  --card-background-color: var(--card-background-color-dark);
}

/* Light theme override */
.light {
  --font-color: var(--font-color-light);
  --interactive-element-color: var(--interactive-element-color-light);
  --background-color: var(--background-color-light);
  --form-error-color: var(--error-color-light);
  --form-background-color: var(--form-background-color-light);
  --navbar-background-color: var(--navbar-background-color-light);
  --card-background-color: var(--card-background-color-light);
}

html, body {
  transition: all 0.3s;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
  font-size: 1.125rem;
  font-family: fonts.$font-manrope;
}

main {
  max-width: 1920px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: fonts.$font-bebas-neue;
  line-height: 1;
}

a.interactive-element {
    color: var(--interactive-element-color);
    text-decoration: none;
}

.grecaptcha-badge {
  visibility: hidden;
}

// slider
.slick-slide {
  height: auto !important;
}

.slick-track, .slick-slide, .slick-slide > div  {
  display: flex !important;
  flex-wrap: nowrap !important;
  align-items: stretch !important;

  & > div {
    flex: 1;
  }
}
